// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Table of Contents:
// ~~~~~~~~~~~~~~~~~~~
// 1.) Variables
// 2.) Mixins
// 3.) Base Styles
// 4.) Typography (links)
// 5.) Scaffolding
// 6.) Helpers
// 7.) Grid
// 8.) Components

// TODO Clean this up so it makes more sense and is more organized.

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// 1.) Variables:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Containers */
// ~~~~~~~~~~~~~~~~~~~~~~~~~
$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;
$full: 100%;

// Breakpoints
$mobile: $x-small;
$desktop: $medium;

/* Colors */

/* Typography */

// 2.) Mixins:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Breakpoints */
// ~~~~~~~~~~~

// Small breakpoint
@mixin small-breakpoint {
	@media (min-width: #{$mobile}) {
		@content;
	}
}

// Large breakpoint
@mixin large-breakpoint {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

// 3.) Base Styles:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//Reset Border Box:

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// 4.) Typography:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Font */

// Headings

// Body Font

// Links:

a {
  cursor: pointer;
}

// 5.) Scaffolding:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// 6.) Helpers:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// 7.) Grid:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TODO Add the completed version of the grid TODO

// NOTE: Once this is completed and reliable, use this article ( https://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox ) to rewrite it w/out flexbox for all browser support.

//NOTE If you just want evenly sized columns, just keep adding columns in a row.

.container {
  max-width: 70%; // BUG fix this so it's full on small screen. Has to do with % and px.
	margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

//NOTE If you just want specifically sized columns, specify the percetage.

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

// 8.) Components:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Navigation */
// ~~~~~~~~~~

// Variables:

$nav-content-width: 1000px;
$nav-breakpoint: 800px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$nav-link-hover-color: #2581DC;

// Wrapper

.navigation {
	height: $nav-height;
	background: $nav-background;
}

// Container

.nav-container {
	max-width: 100%;
	margin: 0 auto;
}

// Navbar

// logo

.brand {
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: $nav-height;
	text-transform: uppercase;
	font-size: 1.4em;
	a,
	a:visited {
		color: $nav-font-color;
		text-decoration: none;
	}
}

// items

nav {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a,
			a:visited {
				display: block;
				padding: 0 20px;
				line-height: $nav-height;
				background: $nav-background;
				color: $nav-font-color;
				text-decoration: none;
				&:hover {
					background: $nav-link-hover-color;
					color: $nav-font-color;
				}
				&:not(:only-child):after {
					padding-left: 4px;
					content: ' ▾';
				}
			}
			ul li {
				min-width: 190px;
				a {
					padding: 15px;
					line-height: 20px;
				}
			}
		}
	}
}

// item dropdown

.nav-dropdown {
	position: absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

// mobile nav

.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: $nav-background;
	height: $nav-height;
	width: $nav-height;
}

@media only screen and (max-width: $nav-breakpoint) {
	.nav-mobile {
		display: block;
	}
	nav {
		width: 100%;
		padding: $nav-height 0 15px;
		ul {
			display: none;
			li {
				float: none;
				a {
					padding: 15px;
					line-height: 20px;
				}
				ul li a {
					padding-left: 30px;
				}
			}
		}
	}
	nav-dropdown {
		position: static;
	}
}

@media screen and (min-width: $nav-breakpoint) {
	.nav-list {
		display: block !important;
	}
}

// toggle

#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
	span,
	span:before,
	span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 5px;
		width: 35px;
		background: $nav-font-color;
		position: absolute;
		display: block;
		content: '';
		transition: all 300ms ease-in-out;
	}
	span:before {
		top: -10px;
	}
	span:after {
		bottom: -10px;
	}
	&.active span {
		background-color: transparent;
		&:before,
		&:after {
			top: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

// dissappearing navbar bug fix

@media screen and (min-width: $nav-breakpoint) {
	.nav-list {
		display: block !important;
	}
}
